/**
 * Testimonials
 */
.testimonials-blocks,
.testimonials-blocks *,
.testimonials-blocks .has-contrast-background-color {
    background-color: #fff !important;
}

.testimonials-blocks,
.testimonials-blocks *,
.testimonials-blocks
.has-contrast-background-color,
.testimonials-blocks .has-base-color {
    color: #000 !important;
}

.testimonials-block .has-x-large-font-size,
.testimonials-block .has-large-font-size {
    font-size: 2rem !important;
}

.testimonial-block .has-x-large-font-size {
    font-size: 1.8rem !important;
    font-style: normal !important;
    font-family: 'Jost', sans-serif !important;
}

.testimonial-block .has-small-font-size {
    font-size: 1rem !important;
    font-weight: 500 !important;
}

.testimonial-block .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1080px !important;
}

