name: PHP Coding Standards

on:
  push:
    branches:
      - main
    paths:
      - '**/*.php'
      - 'phpcs.xml'
  pull_request:
    branches:
      - main
    paths:
      - '**/*.php'
      - 'phpcs.xml'
  workflow_dispatch:

jobs:
  phpcs:
    name: WordPress Coding Standards
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          tools: cs2pr, phpcs

      - name: Install WordPress Coding Standards
        run: |
          composer global config allow-plugins.dealerdirect/phpcodesniffer-composer-installer true
          composer global require --dev wp-coding-standards/wpcs dealerdirect/phpcodesniffer-composer-installer

      - name: Run PHPCS
        continue-on-error: true
        run: phpcs --report=checkstyle | cs2pr
